<div id="container">
  <div id="layout" class="pure-g">
    <div class="sidebar pure-u-1 pure-u-md-1-4">
      <div class="header">
        <img class="pure-img-responsive" id="j-logo" src="img/j-logo.png" />
        <h1 class="sidebar-title">Joe Sweeney</h1>
        <div id="sidebar-icons">
          <span class="fa-stack fa-2x">
            <i class="fa fa-circle fa-stack-2x icon-background"></i>
            <a href="//github.com/jswny"><i class="fa fa-github fa-stack-1x"></i></a>
          </span>
          <span class="fa-stack fa-2x">
            <i class="fa fa-circle fa-stack-2x icon-background"></i>
            <a href="//twitter.com/jswny"><i class="fa fa-twitter fa-stack-1x"></i></a>
          </span>
          <span class="fa-stack fa-2x">
            <i class="fa fa-circle fa-stack-2x icon-background"></i>
            <a href="//linkedin.com/in/jswny"><i class="fa fa-linkedin fa-stack-1x"></i></a>
          </span>
          <span class="fa-stack fa-2x">
            <i class="fa fa-circle fa-stack-2x icon-background"></i>
            <a href="//keybase.io/jswny"><i class="fa fa-key fa-stack-1x"></i></a>
          </span>
          <span class="fa-stack fa-2x">
            <i class="fa fa-circle fa-stack-2x icon-background"></i>
            <a href="mailto:joe@j1.io"><i class="fa fa-envelope fa-stack-1x"></i></a>
          </span>
        </div>
      </div>
    </div>

    <div class="content pure-u-1 pure-u-md-3-4">

      <div id="content-container">

        {{{body}}}

        <div class="footer">
          <p>Made with <span class="heart">&#10084;</span> &amp; &#9749; by every startup ever.
        </div>
      </div>
    </div>
  </div>
</div>