<div id="layout" class="pure-g">
  <div class="sidebar pure-u-1 pure-u-md-1-4">
    <div class="header">
      <h1>Joe Sweeney</h1>
    </div>
  </div>

  <div class="content pure-u-1 pure-u-md-3-4">
    <div>
      <p>Here is some content.</p>
      <div class="footer">
        <p>This is the footer.</p>
      </div>
    </div>
  </div>
</div>