<div class="pure-g">
  <div class="sidebar pure-u-1 pure-u-md-1-4">
    <div class="sidebar-content">
      <h3>Joe Sweeney</h3>
    </div>
  </div>

  <div class="content pure-u-1 pure-u-md-3-4">
    test 2
  </div>
</div>