extend layout
block content
  script.
    window.onload = function() {
      var text = [
        ["^1000cat the-brain.txt"],
        ["^1000cd ~/navigation"],
        ["^1000ls"]
      ];

      var print = [
        `
          <h1 style="text-align: center">#{title}</h1>
          <h4 style="text-align: center">2 February 2016</h4>
          <p>
            When a man drives by in a Ferrari, you expect that he is rich because that car is expensive.
            When Tom Brady throws a pass, you expect him to complete it because he's a good quarterback.
            When you see a woman walking out of a fast-food restaurant, you expect that she just ate an unhealthy meal.
            <br>
            That's how the fucking brain works.
          </p>
          <p>
            These are assumptions that we make on a daily basis. But why do we make these assumptions?
            Because they are rooted in fact, that's why.
            The average price of a Ferrari is around $300,000.
            That's almost 6 years of salary for the average American.<a href='https://www.truecar.com/prices-new/ferrari/'>[1]</a><a href='http://www.census.gov/content/dam/Census/library/publications/2014/demo/p60-249.pdf'>[2]</a>
            Tom Brady completes about 64% of his passes on average.
            That's well over the 50% mark.<a href='http://www.nfl.com/player/tombrady/2504211/careerstats'>[3]</a>
            A quarter pounder with cheese, medium fries, and a medium Coke at McDonalds comes out to 1,080 calories.
            That's more than half of the recommended daily calorie intake.<a href='http://nutrition.mcdonalds.com/getnutrition/nutritionfacts.pdf'>[4]</a>
            So, of course I'm going to assume that a person who just ate there consumed an unhealthy meal, whether some people
            eat their salads or not.
            <br>
            That's how the fucking brain works.
          </p>
          <p>
            What does any of that have to do with anything? Well, we make assumptions based on statistics every day.
            We make them because there is simply a higher probability of one thing happening than another.
            For example, we know there is a very good chance that Tom Brady will complete a given pass.
            Similarly, a lot of people assume that their personal safety is in jeopardy more often when they are around a population which consists largely of blacks, than that of a population which consists largely of whites.
            A lot of people would call this racism.
            I call it statistically backed cognitive association,
            or "thinking" for short.
            Is racism a bad thing? Absolutely.
            However, you can't blame people entirely for this type of thinking.
            A black person is more than twice as likely to commit a crime than a white person.<a href='http://www.census.gov/prod/cen2010/briefs/c2010br-02.pdf'>[5]</a>
            <a href='https://www.fbi.gov/about-us/cjis/ucr/crime-in-the-u.s/2012/crime-in-the-u.s.-2012/tables/43tabledatadecoverviewpdf'>[6]</a>
            It's just a fact.
            Blacks kill blacks just as often as they kill whites.<a href='http://www.census.gov/prod/cen2010/briefs/c2010br-02.pdf'>[7]</a> It's just a fact.
            Areas with larger black populations are much more dangerous than areas with larger white populations.<a href='http://newobserveronline.com/new-fbi-crime-figures-confirm-black-towns-dangerous-white-areas-safest/'>[8]</a>
            It's just a fact. So don't tell me that racism is simply white people subjugating blacks.
            <br>
            That's how the fucking brain works.
          </p>
          <span>root@jswny.io blog$</span> <span id="line2" style="white-space:pre;"></span>
        `,
        '<br><span>root@jswny.io navigation$</span> <span id="line3" style="white-space:pre;"></span>',
        `
          <table>
            <tbody>
              <tr>
                <td>
                  <i class="fa fa-home"></i>
                </td>
                <td>
                  <a href="/">home</a>
                </td>
              </tr>
              <tr>
                <td>
                  <i class="fa fa-align-left"></i>
                </td>
                <td>
                  <a href="/blog">blog</a>
                </td>
              </tr>
              <tr>
                <td>
                  <i class="fa fa-comment"></i>
                </td>
                <td>
                  <a href="/projects">projects</a>
                </td>
              </tr>
            </tbody>
          </table>
        `
      ];
      type(0, text, print);
    };
