extend layout
block content
  script.
    window.onload = function() {
      var text = [
        ["^1000cat fucking-linux.txt"],
        ["^1000cd ~/navigation"],
        ["^1000ls"]
      ];

      var print = [
        `
          <h1 style="text-align: center">#{title}</h1>
          <h4 style="text-align: center">30 November 2015</h4>
          <p>
            Over the last few years I've used Linux a fair amount. I started using Linux a few years ago
            when I was getting tired of the load of crap that comes with Windows. I also decided that it would
            be cool to use the command line for most of my daily tasks. Admittedly I just wanted to impress my
            friends for the most part. I began with Ubuntu, like the majority of Linux-goers nowadays. Next I
            tried to make a major jump to Arch Linux, which took me weeks to finally get working. Once I did get
            it working however, I felt like I had found an operating system built for me, and I had built it! However,
            I soon found that the games I wanted to play, the drivers I wanted to install, and the software I wanted
            to run simply weren't compatible with Linux. Over the years I dabbled with distributions like Mint, and
            Elementary. I hacked my fair share of WiFi networks with Backtrack just like any aspiring hacker. Once
            I even spent two weeks compiling my own drivers and troubleshooting my wireless card to no avail.
          </p>
          <p>
            Eventually, I decided that while Linux has its appeal, it just isn't for me. For starters, when you
            have hardware that isn't supported by your distribution, especially when it comes to laptops, there is
            absolutely nothing you can do save writing your own drivers. Booting into any flavor of Linux on my Apple
            laptop has been close to impossible. Even when your hardware is supported, you can still have serious
            problems. I can't tell you how many times I've had to troubleshoot graphics drivers during and after
            installation. I've also had to use PS2 adapters just to boot into Linux, because my USB keyboard wasn't
            supported.
          </p>
          <p>
            The issue boils down to consistency. For me, Linux is simply too inconsistent. Every time I try to use
            Linux, I end up with a different result, and I have to troubleshoot some new problem, which usually
            leads to another problem. I can't deal with a platform that produces different results even when the
            conditions are the same. I need consistency in my life, and Linux is not the answer. I like to compare
            Linux to a Lamborghini without wheels: you have a world-class machine, but you can't even drive it because
            the most basic components are missing.
          </p>
          <span>root@jswny.io blog$</span> <span id="line2" style="white-space:pre;"></span>
          `,
        '<br><span>root@jswny.io navigation$</span> <span id="line3" style="white-space:pre;"></span>',
        `
          <table>
            <tbody>
              <tr>
                <td>
                  <i class="fa fa-home"></i>
                </td>
                <td>
                  <a href="/">home</a>
                </td>
              </tr>
              <tr>
                <td>
                  <i class="fa fa-align-left"></i>
                </td>
                <td>
                  <a href="/blog">blog</a>
                </td>
              </tr>
              <tr>
                <td>
                  <i class="fa fa-comment"></i>
                </td>
                <td>
                  <a href="/projects">projects</a>
                </td>
              </tr>
            </tbody>
          </table>
        `
      ];
      type(0, text, print);
    };
