extend layout
block content
  script.
    window.onload = function() {
      var text = [
        ["^1000cd projects"],
        ["^1000ls"],
        ["^1000cd ~/navigation"],
        ["^1000ls"]
      ];

      var print = [
        '<br><span>root@#{domain} projects$</span> <span id="line2" style="white-space:pre;"></span>',
        `
          <table>
            <tbody>
              <tr>
                <td>
                  <i class="fa fa-clipboard"></i>
                </td>
                <td>
                  <a href="#">pastehistory (coming soon)</a>
                </td>
              </tr>
              <tr>
                <td>
                  <i class="fa fa-reddit-alien"></i>
                </td>
                <td>
                  <a href="#">oakyak (coming soon)</a>
                </td>
              </tr>
              <tr>
                <td>
                  <i class="fa fa-bold"></i>
                </td>
                <td>
                  <a href="//github.com/jswny/blankandchill">blank-and-chill</a>
                </td>
              </tr>
              <tr>
                <td>
                  <i class="fa fa-lock"></i>
                </td>
                <td>
                  <a href="/content/firewall">challenge-page</a>
                </td>
              </tr>
              <tr>
                <td>
                  <i class="fa fa-diamond"></i>
                </td>
                <td>
                  <a href="/content/fancy">fancy</a>
                </td>
              </tr>
              <tr>
                <td>
                  <i class="fa fa-circle-o"></i>
                </td>
                <td>
                  <a href="/content/v1.0">v1.0</a>
                </td>
              </tr>
              <tr>
                <td>
                  <i class="fa fa-circle"></i>
                </td>
                <td>
                  <a href="/content/v2.0">v2.0</a>
                </td>
              </tr>
            </tbody>
          </table>
          <span>root@#{domain} projects$</span> <span id="line3" style="white-space:pre;"></span>
        `,
        '<br><span>root@#{domain} navigation$</span> <span id="line4" style="white-space:pre;"></span>',
        `
          <table>
            <tbody>
              <tr>
                <td>
                  <i class="fa fa-home"></i>
                </td>
                <td>
                  <a href="/">home</a>
                </td>
              </tr>
              <tr>
                <td>
                  <i class="fa fa-align-left"></i>
                </td>
                <td>
                  <a href="/blog">blog</a>
                </td>
              </tr>
              <tr>
                <td>
                  <i class="fa fa-comment"></i>
                </td>
                <td>
                  <a href="/projects">projects</a>
                </td>
              </tr>
            </tbody>
          </table>
        `
      ];
      type(0, text, print);
    };
