extend layout
block content
  script.
    window.onload = function() {
      var text = [
        ["^1000cd projects"],
        ["^1000ls"],
        ["^1000cd ~/navigation"],
        ["^1000ls"]
      ];

      var print = [
        '<br><span>root@#{domain} projects$</span> <span id="line2" style="white-space:pre;"></span>',
        `
          <table>
            <tbody>

              <tr>
                <td>
                  <span style="color: #00d8ff">react</span>
                </td>
                <td>
                  <i class="fa fa-check-square"></i>
                </td>
                <td>
                  <a href="//github.com/jswny/fastpoll">fastpoll</a> - simple polling app
                </td>
              </tr>

              <tr>
                <td>
                  <span style="color: #3b4854">express</span>
                </td>
                <td>
                  <i class="fa fa-globe"></i>
                </td>
                <td>
                  <a href="//github.com/jswny/j1.io">j1.io</a> - this website
                </td>
              </tr>

              <tr>
                <td>
                  <span style="color: #777bb3">php</span>
                </td>
                <td>
                  <i class="fa fa-clipboard"></i>
                </td>
                <td>
                  <a href="//github.com/jswny/pastehistory">pastehistory</a> - pastebin indexing and management suite
                 </td>
              </tr>

              <tr>
                <td>
                  <span style="color: #de4f4f">meteor</span>
                </td>
                <td>
                  <i class="fa fa-reddit-alien"></i>
                </td>
                <td>
                  <a href="//github.com/jswny/oakyak">oakyak</a> - yikyak clone
                </td>
              </tr>

              <tr>
                <td>
                  <span style="color: #5e197c">elixir</span>
                </td>
                <td>
                  <i class="fa fa-twitter-square"></i>
                </td>
                <td>
                  <a href="//github.com/jswny/fuck-beme">fuck-beme</a> - simple twitter bot
                </td>
              </tr>   

            </tbody>
          </table>
          <span>root@#{domain} projects$</span> <span id="line3" style="white-space:pre;"></span>
        `,
        '<br><span>root@#{domain} navigation$</span> <span id="line4" style="white-space:pre;"></span>',
        `!{navigation}`
      ];
      type(0, text, print);
    };
