extend layout
block content
  script.
    window.onload = function() {
      var text = [
        ["^1000cd projects"],
        ["^1000ls"],
        ["^1000cd ~/navigation"],
        ["^1000ls"]
      ];

      var print = [
        '<br><span>root@jswny.io projects$</span> <span id="line2" style="white-space:pre;"></span>',
        `
          <br>
          <a href="//blankandchill.com">blank-and-chill</a>
          <a href="//j1.io">url-shortener</a>
          <a href="/content/firewall">challenge-page</a>
          <br>
          <a href="/content/fancy">fancy</a>
          <a href="/content/v2.0">v2.0</a>
          <a href="/content/v1.0">v1.0</a>
          <br><br>
          <span>root@jswny.io projects$</span> <span id="line3" style="white-space:pre;"></span>
        `,
        '<br><span>root@jswny.io navigation$</span> <span id="line4" style="white-space:pre;"></span>',
        '<br><a href="/">home</a> <a href="/blog">blog</a> <a href="/projects">projects</a>'
      ];
      type(0, text, print);
    };
