@import 'nib'

background-color = black
text-color = white
accent-color = #3399ff
accent-color2 = #fa5b4d

body
  background-color background-color
  font-family 'Lucida Console', 'Lucida Sans Typewriter', monaco, 'Bitstream Vera Sans Mono', monospace
  color text-color
  font-size 100%

a
  text-decoration none
  color accent-color

.link-no-style
  color text-color

table
  margin 5px
  border-collapse separate

td
  padding-right 8px

.inline
  display inline

#playlist-header
  margin-top 15px
  width 100%

#playlist-header td
  padding-right: 20px

#playlist
  border-collapse collapse
  margin-bottom 15px

#playlist td
  padding-right 15px
  padding-top 7px
  padding-bottom 7px
  width 30%
  border solid
  border-width 1px 0

.track-num
  width 3% !important

.typed-cursor
  opacity 1
  -webkit-animation blink 0.7s infinite
  -moz-animation blink 0.7s infinite
  animation blink 0.7s infinite

@keyframes blink
  0%
    opacity 1
  50%
    opacity 0
  100%
    opacity 1

@-webkit-keyframes blink
  0%
    opacity 1
  50%
    opacity 0
  100%
    opacity 1

@-moz-keyframes blink
  0%
    opacity 1
  50%
    opacity 0
  100%
    opacity 1
