.header {
  text-align: center;
  top: auto;
  margin: 3em auto;
}

.footer {
  text-align: center;
  padding: 1em 0;
}

.footer a {
  font-size: 80%;
}

@media (min-width: 48em) {
  .content {
      padding: 2em 3em 0;
      margin-left: 25%;
  }

  .header {
      margin: 80% 2em 0;
      text-align: right;
  }

  .sidebar {
      position: fixed;
      top: 0;
      bottom: 0;
  }
}
