body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.heart {
  color: red;
}

.sidebar {
  background: #3d4f5d;
}

.header {
  text-align: center;
  top: auto;
  margin: 3em auto;
  color: white;
}

.sidebar-title {
  margin: 0px;
}

#sidebar-icons {
  padding-top: 1em;
}

#sidebar-icons a {
  color: white;
  padding-left: 0.3em;
}

.icon-background {
  color: #e81c4f;
}

.fa-stack i:hover {
  -webkit-animation: jello 1s;
  animation: jello 1s;
}

.content {
  padding: 0px 3em;
}

.footer {
  text-align: center;
  padding: 1em 0;
}

.pure-img-responsive {
  max-width: 20%;
  height: auto;
}

@media (min-width: 48em) {
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
  }
  .header {
    margin: 80% 2em 0;
  }
  .content {
    padding: 2em 3em 0;
    margin-left: 25%;
  }
  .pure-img-responsive {
    max-width: 50%;
  }
}
