body {
  font-family: "Helvetica", "Arial", sans-serif;
}

.sidebar {
  background: rgb(61, 79, 93);
}

.header {
  text-align: center;
  top: auto;
  margin: 3em auto;
  color: white;
}

.sidebar-title {
  margin: 0px;
}

.footer {
  text-align: center;
  padding: 1em 0;
}

.pure-img-responsive {
  max-width: 20%;
  height: auto;
}

@media (min-width: 48em) {
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
  }

  .header {
    margin: 80% 2em 0;
    text-align: right;
  }

  .content {
    padding: 2em 3em 0;
    margin-left: 25%;
  }  

  .pure-img-responsive {
    max-width: 50%;
  }
}
