@media screen and (max-width: 768px) {
  #container {
    min-width: 200px;
    max-width: 600px;
    margin: 1%;
  }
}
@media only screen and (min-width: 769px) {
  #container {
    min-width: 200px;
    max-width: 800px;
    margin: 2%;
  }
}
